.body{
    margin: 0px;
    padding: 0px;
}
.navbar.navbar-default{
    border-radius: 0px;
    padding: 15px;
    margin-bottom: 0px;
}
.navbar.navbar-default .container-fluid .navbar-header .navbar-brand{
    font-size: 35px;
    font-weight: bold;
    padding-left: 180px;
    cursor: pointer;
}
.navbar.navbar-default .container-fluid .navbar-body .navbar-text{
    margin-left: 105px;
    margin-right: 55px;
    font-size: 20px;
    cursor: pointer;
}
.navbar.navbar-default .container-fluid .navbar-body .navbar-text:hover{
    color: black;
}
.navbar.navbar-default .container-fluid .navbar-footer .btn.btn-success{
    margin-top: 13px;
    width: 130px;
    border-radius: 17px;
    margin-right: 5px;
    outline: none;
}
.navbar.navbar-default .container-fluid .navbar-footer{
    float: right;
}
.navbar.navbar-default .container-fluid .navbar-footer .glyphicon.glyphicon-search{
    font-size: 20px;
    cursor: pointer;
    color: green;
}

.container.img{
    background-image: url(../img/index.jpg);
    background-clip: border-box;
    width: 100%;
    height: 587px;
    background-repeat: no-repeat;
    background-size: content;
    margin-top: 0px;
}
.container.img .container.article{
    text-align: center;
    color: white;
    font-weight: bold;
    height: 100%;
}
.container.img .container.article .row{
    height: 100%;
    padding: 0px;
    text-align: center;
}

.container.img .container.article .row .container.col-xs-4 h2{
    padding-bottom: 120px;
}

.container.img .container.article .row .container.col-xs-4 a#HTML{
    width: 177px;
    padding: 0px;
    font-size: 20px;
    border-style: solid;
    border-color: rgb(128, 0, 117);
    border-radius: 15.5px;
    color: rgb(128, 0, 117);
    margin: 20px;
    margin-left: 91.5px;
}
.container.img .container.article .row .container.col-xs-4 a#HTML:hover{
    text-decoration: none;
    color: rgb(128, 0, 117);
}

.container.img .container.article .row .container.col-xs-4 a#CSS{
    width: 177px;
    padding: 0px;
    font-size: 20px;
    border-style: solid;
    border-color: blue;
    border-radius: 15.5px;
    color: blue;
    margin: 20px;
    margin-left: 91.5px;
}
.container.img .container.article .row .container.col-xs-4 a#CSS:hover{
    text-decoration: none;
    color: blue;
}

.container.img .container.article .row .container.col-xs-4 a#JAVASCRIPT{
    width: 177px;
    padding: 0px;
    font-size: 20px;
    border-style: solid;
    border-color: rgb(145, 255, 0);
    border-radius: 15.5px;
    color: rgb(145, 255, 0);
    margin: 20px;
    margin-left: 91.5px;
}
.container.img .container.article .row .container.col-xs-4 a#JAVASCRIPT:hover{
    text-decoration: none;
    color: rgb(145, 255, 0);
}


.container.foot{
    width: 100%;
    height: 70px;
    background-color: rgba(0, 81, 255, 0.787);
}

.container.foot .container.foot_inner{
    margin-top: 20px;
    font-size: 20px;
    color: white;
}
.container.foot .container.foot_inner p a{
    color: white;
    text-decoration: none;
    padding-left: 10px;
    font-size: 18px;
}
.container.foot .container.foot_inner p a:hover{
    color: aqua;
}
.container.foot .container.foot_inner p a:hover{
    color: aqua;
}
.container.foot .container.foot_inner p span{
    float: right;
    padding-left: 10px;
    padding-right: 10px;
    border: 3px solid aqua;
    border-radius: 10px;
}

.container.introduce{
    margin-top: 12px;
    border-bottom: 1px;
}
.container.introduce .row .picture.col-xs-6{
    border-left-style: solid;
    border-left-width: 2px;
    border-left-color: rgba(0, 0, 0, 0.404);
    padding-left: 130px;
}

.container.us{
    margin-top: 20px;
    text-align: center;
    width: 100%;
    height: 400px;
    background-color: rgba(128, 128, 128, 0.657);
}


